<header>
    <mat-toolbar color="primary" class="mat-elevation-z8">
        <span><mat-icon>health_and_safety</mat-icon> OMMS</span>

        <a mat-button routerLink="/">Home</a>
        <a mat-button href="/doctors">Doctors</a>
        <a mat-button routerLink="/pharmacy">Pharmacy</a>
        <!-- <a mat-button href="#">About</a> -->
        <a mat-button href="/contact">Contact</a>

        <div class="spacer"></div>

        <a mat-button routerLink="/login"><mat-icon matBadge="1" matBadgeOverlap="false" matBadgeColor="warn">shopping_cart</mat-icon></a><!--Cart-->
        <a mat-button routerLink="/login" class="log">Login<mat-icon>login</mat-icon></a>
    </mat-toolbar>
</header>